body {
    max-height: 766px;
}
/*顶部导航栏样式*/
.navbar .navbar-header .navbar-toggle {
    margin-top: 20px;
}
.navbar .navbar-header .navbar-brand {
    padding-top: 7px;
    margin-right: 10px;
    width: 150px;
    height: 70px;
}
.navbar #navbar {
    padding-top: 12px;
}
.navbar #navbar ul.nav {
    margin-left: 30px;
}
/*登录注册按钮央视*/
.navbar #navbar .btn-group {
    padding-top: 7px;
    margin-right: 10px;
}
/*已登录用户头像信息样式*/
.navbar #navbar #loginedInfo {
    padding-top: 2px;
    margin-right: 10px;
}
.navbar #navbar #loginedInfo img {
    width:50px;
    height: 50px;
}
/*搜索框和上传按钮样式*/
.leaderboard {
    margin-top: 100px;
}

.leaderboard .selectDiv {
    position: relative;
    z-index: 999;
    top: 5px;
    margin-left: 0px;
}
.leaderboard .select {
    position: absolute;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/arrow.png") no-repeat scroll right center transparent;
    color: #cd3131;
    width: 58px;
    height: 26px;
    border: none;
    padding-left: 6px;
}
.leaderboard .select .option {
    padding-left: 8px;
}
.leaderboard .form-control {
    padding-left: 68px;
}

#main.container .row {       /*三栏面板样式*/
    margin-top: 50px;
}